html {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(192, 192, 192);
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
    padding: 5px 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}

h2 {
    color: darkslateblue;
}

img {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#note {
    font-size: 20px;
}